.Page {
	min-height: 100vh;
	max-height: 100vh;
	padding: 6%;
	background-color: #f9f7e8;
	
	
}
.Page.v2 {
	background-color: #383e56;
}
.Button {
	border-radius: 7px;
	display: inline-block;
	margin: 20px;

	text-align: center;
	height: 8rem;
	width: 8rem;
	line-height: 2.34375rem;
	font-size: 2rem;
	background: #313d4c;
	padding: 10px 15px;
	box-shadow: gray 2px 2px 2px 0;
	border: 0ch;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	color: #f9f7e8;
}
.Button.v2 {
	background: #eedad1;
	color: #383e56;
	box-shadow: none;
}

.Button:before {
	border-radius: 7px;
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #62bfad;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	border: 0ch;
}
.v2.Button:before {
	background-color: #ffefa0;
}
.Button:hover,
.Button:focus,
.Button:active {
	outline: none !important;
	outline-offset: none !important;

	border: 0ch;
}
.Button:hover:before,
.Button:focus:before,
.Button:active:before {
	-webkit-transform: scale(1);
	transform: scale(1);
	border: 0ch;
}

.true.v1 {
	background-color: #62bfad;
	border: 0ch;
}
.true.v2 {
	background-color: #ffefa0;
	border: 0ch;
}
.mtrue.v1 {
	animation: shake 0.6625s;
	animation-iteration-count: infinite;
}
.mtrue.v2 {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}
@keyframes shake {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}



.Pages {
	min-height: 0vh;
	max-height: 0vh;

}

@media (max-width: 500px) {
	.Page{
		

	
	}
	.Button {
		
		
		margin: 4%;
		
		height: 4rem;
		width: 4rem;

		font-size: 1rem;
	}

}

.menu{


position: absolute; 
right: 0;

	
	
}
.Checkbox {
	position: absolute; 
	left: 0;
	color: #eedad1;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 0px;
}
.Tool{
	position: relative; 
}